<template name="wellSubmit">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="wellName">Well Name</label>
        <div class="controls">
            <input name="wellName" type="text" value="" placeholder="Well Name"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="county">County</label>
        <div class="controls">
            <input name="county" type="text" value="" placeholder="County"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="state">State</label>
        <div class="controls">
            <input name="state" type="text" value="" placeholder="State"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>